
<h1>Agregar Producto</h1>
<form id="productForm">
    <input type="text" name="titulo" placeholder="Título" required>
    <input type="text" name="descripcion" placeholder="Descripción" required>
    <input type="text" name="codigo" placeholder="Código" required>
    <input type="number" name="precio" placeholder="Precio" required>
    <button type="submit">Agregar producto</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>